<link rel="stlesheets" href="/public/assets/css/gryffindor.css">
<h1>Grffindor</h1>

<div class="work-feature-block row">
    <div class="columns medium-7">
        <img class="work-feature-block-image" src="/public/assets/img/gryffin.png" />
    </div>
    <div class="columns medium-5">
        <h2 class="work-feature-block-header">Grffindor</h2>
        <p>These songs could be in a workout or dance party playlist depending on your mood. To me, Gryffindors are
            brave, friendly, daring, loyal, playful, and passionate—and depending on the day these could be good or bad
            for others around us. Thus my fellow Gryffindors and I can always jam to a good beat and lyrics about
            adventure, fun, and living in the present.
            This playlist is dedicated to the Gryffindor who needs some serious pump-up music to revel in their
            greatness. A little healthy pride never hurt anyone, right?
            The few soundtrack songs I included cover scenes from popular movies that have a driving pulse. For example,
            “March of the Resistance” is spirited and bright; it appeals to the Gryffindor that likes to see themselves
            as the good guy. One of my favorite additions to this playlist is “Is She With You?” from Batman v.
            Superman: Dawn of Justice. Wonder Woman’s theme is wild, fast, and passionate. If you’re a fierce
            Gryffindor, you love to make an entrance—and this song makes quite a first impression.
            Ultimately, these are fun songs only. They reflect on the good times with friends, the goals we have, and
            the love we have for a good time.</p>
        <h2>Project Details</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/KN_na84b9ik" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <P>worship by Lizzo is the a simple if you want more ,here a playlist to get you started.
            </br> <a href="https://open.spotify.com/playlist/6e5TyQ5YhFpo5SsnkrR8Yt">Gryffindors PartyList</a> </P>

    </div>
</div>



<!--<section class="">

    <div class="">
        <h2>Top PodCast suggestions</h2>
        <p></p>
        <ol>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
        </ol>
    </div>
    <div class="">
        <h2>Music bliss</h2>
        <p></p>
    </div>
    <div class="">
        <h2>Alumni</h2>
        <p></p>
        <button>click here</button>
        <ul>
            <li><img src="https://placehold.it/100x39" />Jill</li>
            <li><img src="https://placehold.it/100x39" />bobby</li>
            <li><img src="https://placehold.it/100x39" />Tim</li>
            <li><img src="https://placehold.it/100x39" />Dan</li>
        </ul>
    </div>
</section> -->