<link rel="stylesheet" href="/public/assets/css/ravenclaw.css">
<h1>Ravenclaw</h1>

<div class="work-feature-block row">
    <div class="columns medium-7">
        <img class="work-feature-block-image" src="/public/assets/img/ravenclaw.png" />
    </div>
    <div class="columns medium-5">
        <h2 class="work-feature-block-header">Ravenclaw</h2>
        <p>For our Ravenclaw playlist, I shot for “eclectic, smart, and fun with an edge of pretension.” I think the
            final version is decent enough.
            My selection from musicals begins with Lin-Manuel Miranda’s “The Schuyler Sisters” and transitions to jazz
            via Cécile McLorin Salvant’s cover of Cinderella’s “Stepsister’s Lament.” We then enjoy the work of icons
            like Miles Davis, Sidney Bechet, and Billie Holiday. Holiday’s “Strange Fruit” also gives us a taste of
            musical activism. #ThisIsAmerica
            My rock and indie pop selections feature artists who allow Ravenclaws to enjoy popular music unironically.
            Think The Beatles, Queen, and Regina Spektor. I even included a track by The Smiths even though they’re the
            band that screenwriters make passing reference to when they want to show that a character is More Than They
            Seem.
            Next, my nerdy fandom devotion shows in tracks from movies like The Fellowship of the Ring and Hidden
            Figures. You know I had to.
            Foreign films and music are also on the menu. Specifically, I snagged a track called “Bookshelves” from a
            Swedish film and included some francophone music because culture. And I didn’t forget Ravenclaw’s Gaelic
            roots, which are brought out by artists like Julie Fowlis.
            Finally, we have classical (Romantic, in this case) music by dead white men. Specifically, I chose Grieg and
            Rachmaninoff concertos because I love them. The concertos, not the composers. Classical composers tended to
            be jerk humans.
            Stay clever, friends. And if you want into the common room tonight, let me know in the comments what YouTube
            web series based on a classic novel I alluded to twice in this blurb</p>
        <h2>playlist</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/b8-tXG8KrWs" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <p>Reptilia by the Strokes is just a little musical illustration.click the link to discover more.
            </br> <a href="https://open.spotify.com/playlist/6JJ1olac8LkowhO8Epd144">Ravenclaw intermission </a>
        </P>
    </div>
</div>



<!--<section class="">

    <div class="">
        <h2>Top PodCast suggestions</h2>
        <p></p>
        <ol>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
        </ol>
    </div>
    <div class="">
        <h2>Music bliss</h2>
        <p></p>
    </div>
    <div class="">
        <h2>Alumni</h2>
        <p></p>
        <button>click here</button>
        <ul>
            <li><img src="https://placehold.it/100x39" />Jill</li>
            <li><img src="https://placehold.it/100x39" />bobby</li>
            <li><img src="https://placehold.it/100x39" />Tim</li>
            <li><img src="https://placehold.it/100x39" />Dan</li>
        </ul>
    </div>
</section> -->