<link rel="stylesheet" href="/public/assets/css/slytherin.css">
<h1>Slytherin></h1>
<div class="work-feature-block row">
    <div class="columns medium-7">
        <img class="work-feature-block-image" src="/public/assets/img/slytherin.jpg" />
    </div>
    <div class="columns medium-5">
        <h2 class="work-feature-block-header">slytherin</h2>
        <p>Slytherin is often the most misunderstood of the houses, so it makes sense that we’d have such a dark and
            moody
            playlist. We’re not all villains! It’s just that, every once in a while, our ambition gets the best of us,
            and our
            tendency towards self-preservation is sometimes expressed as selfishness. In the end, we’re in it to win it.
            For this playlist, I wanted to capture Slytherin’s ambitious spirit while also indulging in some of the
            darker
            themes that we hold dear. Honestly, one of the trickier tasks was finding songs with pretty clean language,
            given
            our angsty characters. Just looking at the titles, there’s a lot of death, blood, and darkness, but who said
            being
            the best ever came easily?!
            Songs like “Glory and Gore,” “Let’s Kill Tonight,” and “Whatever It Takes” let people know that you are
            determined
            to succeed. “Heathens” and “Come With Me Now” show that you also place importance on fraternity (usually
            with fellow
            Slytherins) and that you want your friends behind you when you go to battle. Silence your enemies with
            “Choke” and
            “Culling of the Fold,” and then own your darker side with songs like “Twisted” and “Dark Horse.”
            Queue up this playlist to tap into your clever and resourceful side. You know your strengths, and you’re
            ready to
            crawl, fight, and take down your enemies on your way to victory.</p>
        <h2>playlist</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/kdGMjSPDjR8" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <p>wake me up inside by Evanescence good start with this dark but powerful song,here a playlist to get you
            started.
            </br> <a href="https://open.spotify.com/playlist/7h3JbjwkOMRwqiZP6c4n2F">Slytherin Doom and Glory</a>
        </P>
    </div>
</div>






<!-- <section class="">

    <div class="">
        <h2>Top PodCast suggestions</h2>
        <p></p>
        <ol>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
        </ol>
    </div>
    <div class="">
        <h2>Music bliss</h2>
        <p></p>
    </div>
    <div class="">
        <h2>Alumni</h2>
        <p></p>
        <button>click here</button>
        <ul>
            <li><img src="https://placehold.it/100x39" />Jill</li>
            <li><img src="https://placehold.it/100x39" />bobby</li>
            <li><img src="https://placehold.it/100x39" />Tim</li>
            <li><img src="https://placehold.it/100x39" />Dan</li>
        </ul>
    </div>
</section> -->