<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wizarding World of Media</title>
    {{!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous"> --}}
    {{!-- <link rel="preconnect" href="https://fonts.gstatic.com"> --}}
    <link href="https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
</head>


<header class="header-nav">
    <ul class="menu menu-hover-lines">
    <li class='active'><a href= '/'> Wizarding World of Media</a> </li>
               <li> <a href="/quiz">Sorting Hat Quiz</a></li>
                <li><a href="/house">Your House</a></li>
                <li><a href="/playlists">Playlists</a></li>
                <li><a href="/about">The Muggles Behind the Scenes</a></li>
                <li> <a href="/login">Login</a></li>
                <li><button class='logoutButton'>Logout</button></li>

         </ul>

            <!--After MVP successful, add these bells and whistles-->

            <!--<div>
                <a href="movies">Movies</a>
                <a href="shows">Shows</a>
                <a href="chat">Chat</a>
            </div>-->
</header>
<body>
    <main>
    {{{body}}}
    </main>
    <footer>
        <p>"Don't let the muggles get you down." -Ron Weasley.⚡</p> <br>
        <p>For educational purposes only.</p>
    </footer>
    {{!-- <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script> --}}
   <!-- <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.min.js"></script> -->
    
</body>
<script src='/js/logout.js'></script>
</html>
