<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wizarding World of Media</title>
    <link rel="stylesheet" href="assets/css/main.css">
</head>


<header class="header-nav">
    <ul class="menu menu-hover-lines">
    <li class='active'><a href= '/'> Wizarding World of Media</a> </li>
               <li> <a href="/quiz">Sorting Hat Quiz</a></li>
                <li><a href="/house">Your House</a></li>
                <li><a href="/playlists">Playlists</a></li>
                <li> <a href="/login">Login</a></li>

         </ul>

            <!--After MVP successful, add these bells and whistles-->

            <!--<div>
                <a href="#movies">Movies</a>
                <a href="#shows">Shows</a>
                <a href="#chat">Chat</a>
            </div>-->
</header>
<body>
    <main>
    {{{body}}}
    </main>
    <footer>
        <p>"Don't let the muggles get you down." -Ron Weasley.⚡</p> <br>
        <p>For educational purposes only.</p>
    </footer>
</body>
</html>