<body>
  <div class="aboutUs">
    <div class="hero-section-text flex-row">
      <h1 class="header-color flex-row">The Muggles Behind the Scenes</h1>


      <section id="your-muggles">
        <div class="muggles">
          <article class="muggle">
            <div class="muggle-img-1">
              <div class="ash-pic"> <img class='muggle-ash' src="/images/ash.png"> </div>

              <div class="muggle-bio">
                <h6 class="muggle-name">Ashley Warters</h6>
                <h5 class="muggle-role">Full-Stack Web Developer</h5>
                <p>
                  Full-Stack Web Developer Student at the University of Pennsylvania LPS Coding Bootcamp.
                  Ashley is a flight attendant who enjoys building side projects during her free time. She relates most
                  to the Gryffindor Hogwarts house. Check out her
                <a src='https://github.com/ashwarters'>Github</a> here.
                </p>
              </div>
          </article>

          <article class="muggle">
            <div class="muggle-img-2">
              <div class="brandon-pic"> <img class='muggle-brandon' src="/images/brandon.png"> </div>

              <div class="muggle-bio">
                <h6 class="muggle-name">Brandon Stanton</h6>
                <h5 class="muggle-role">Full-Stack Web Developer</h5>
                <p>
                  Full-Stack Web Developer Student at the University of Pennsylvania LPS Coding Bootcamp.
                  Brandon relates most to the Hufflepuff Hogwarts house.

                </p>
              </div>
          </article>

          <article class="muggle">
            <div class="muggle-img-2">
              <div class="alexis-pic"> <img class='muggle-alexis' src="/images/alexis.png"> </div>

              <div class="muggle-bio">
                <h6 class="muggle-name">Alexis Manduke</h6>
                <h5 class="muggle-role">Full-Stack Web Developer/Web Designer</h5>
                <p>
                  Full-Stack Web Developer Student at the University of Pennsylvania LPS Coding Bootcamp.
                  Brandon relates most to the Ravenclaw Hogwarts house.

                </p>
              </div>
          </article>
        </div>
      </section>
</body>