<body>
        <div class="hero-section">
            <div class="hero-section-text flex-row">
              <h1 class="header-color flex-row">The Muggles Behind the Scenes</h1>
              <div id="three-container"></div>

  
 <section id="your-muggles">
    <!-- 2.2 repurposed .trainers for 3 column flexbox  -->
    <div class="muggles">
      <article class="muggle">
        <div class="muggle-img-ashley muggle-1">
          <div>
            <h3>Ashley (Gryffindor) Warters</h3>
            <h4>Full-Stack Web Developer</h4>
          </div>
        </div>
        <div class="muggle-bio">
          <h3 class="muggle-name">Ashley (Gryffindor) Warters</h3>
          <h4 class="muggle-role">Full-Stack Web Developer</h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi neque animi quo cupiditate commodi saepe
            culpa sed itaque velit maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet quis
            repellat!
          </p>
        </div>
      </article>

      <!-- 2.2 - moved image above content -->
      <article class="muggle">
        <div class="muggle-img-brandon muggle-2">
          <div>
            <h3>Brandon (HufflePuff) Stanton</h3>
            <h4>Full-Stack Web Developer</h4>
          </div>
        </div>
        <div class="muggle-bio">
          <h3 class="muggle-name">Brandon (HufflePuff) Stanton</h3>
          <h4 class="muggle-role">Full-Stack Web Developer</h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi neque animi quo cupiditate commodi saepe
            culpa sed itaque velit maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet quis
            repellat!
          </p>
        </div>
      </article>

      <article class="muggle">
        <div class="muggle-img-alexis muggle-3">
          <div>
            <h3>Alexis (RavenClaw) Manduke</h3>
            <h4>Front-End Web Developer/Web Designer</h4>
          </div>
        </div>
        <div class="muggle-bio">
          <h3 class="muggle-name">Alexis (RavenClaw) Manduke</h3>
          <h4 class="muggle-role">Front-End Web Developer/Web Designer</h4>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi neque animi quo cupiditate commodi saepe
            culpa sed itaque velit maiores optio dolorem excepturi aperiam dolores, voluptatibus suscipit amet quis
            repellat!
          </p>
        </div>
      </article>
    </div>
  </section>
</body>