<!--Landing page... displays all four houses and redirects to login page-->
<div class='gryffindorContainer'>
<!--Insert images of each house crest?-->
</div>

<div class='slytherinContainer'>


</div>


<div class='hufflepuffContainer'>


</div>

<div class='ravenclawContainer'>

</div>


<div class='loginRedirect'>
    <h4>Log in to let the Sorting Hat determine your Hogwarts fate.</h4>
    <button class='sendToLogin'>Login!</button>

</div>