<!--Landing page... displays all four houses and redirects to login page-->

<div class='hogwartsHouses'>
<div class='gryffindorContainer'> 
    <img class='gryff' src='/images/gryff.jpg'>
</div>

<div class='slytherinContainer'>
    <img src='/images/slythe.jpg'>


</div>


<div class='hufflepuffContainer'>
    <img src='/images/huffle.jpg'>

</div>

<div class='ravenclawContainer'>
    <img src='/images/raven.jpg'>
</div>
</div>

<div class='loginRedirect'>
    <h6 id='sorting-hat'>Let the Sorting Hat determine your Hogwarts fate.</h6>
    <button type="button" class="btn btn-dark" id='sendToLogin'>Get Started!</button>


</div>

<script src='/js/dashboard.js'></script>