<link rel="stlyesheet" href="/public/assets/css/hufflepuff.css">
<h1>Hufflepuff</h1>


<div class="work-feature-block row">
    <div class="columns medium-7">
        <img class="work-feature-block-image" src="/public/assets/img/hufflepuff.jpg" />
    </div>
    <div class="columns medium-5">
        <h2 class="work-feature-block-header">Hufflepuff</h2>
        <P>So, you’re a Hufflepuff. Though the world may tell you that Hufflepuff is the least of the four houses, I
            hope you don’t believe that. Be proud of your yellow and black stripes. Don’t let the haters get you down!
            I’d even go so far as to tell you not to let the haters badger you into believing our house is anything less
            than magical.
            Being a Hufflepuff is the best. We’re kind, loyal, and dedicated to those around us. We’re fair and patient,
            and we work hard—these are qualities the world needs. And we gave the world Cedric Diggory and Newt
            Scamander, two brilliant (and very good-looking) Hufflepuffs who honestly sought to help those around them,
            so we have that going for us too. Take heart in the fact that you’re bringing kindness, friendship, and
            sunshine to others.
            This playlist is filled with just that: kindness, friendship, and sunshine. The songs are bound to uplift
            you, inspire you, and maybe make you want to dance. With classics like “Imagine” by John Lennon to newer
            jams like “Brother” by Kodaline, there are songs for every person who has a little Hufflepuff in their
            heart. I even threw in “Waving Through a Window” from Dear Evan Hansen because we all know that Evan Hansen
            is a Hufflepuff.
            I hope you enjoy this playlist and bear your black-and-yellow stripes for all to see (while perhaps
            listening to Wiz Khalifa’s “Black and Yellow,” easily found on this very playlist).
        </P>
        <h2>Playlist</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OblL026SvD4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <p> Still into you by Paramore is a pop rock song that is fun and eccentric. here more odd but surprising tunes.
            </br> <a href="https://open.spotify.com/playlist/3XHXRiByjjDjckvlNfjDTd">Ravenclaw intermission </a>
        </P>
    </div>
</div>



<!-- <section class="">

    <div class="">
        <h2>Top PodCast suggestions</h2>
        <p></p>
        <ol>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
            <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</li>
        </ol>
    </div>
    <div class="">
        <h2>Music bliss</h2>
        <p></p>
    </div>
    <div class="">
        <h2>Alumni</h2>
        <p></p>
        <button>click here</button>
        <ul>
            <li><img src="https://placehold.it/100x39" />Jill</li>
            <li><img src="https://placehold.it/100x39" />bobby</li>
            <li><img src="https://placehold.it/100x39" />Tim</li>
            <li><img src="https://placehold.it/100x39" />Dan</li>
        </ul>
    </div>
</section> -->