
        <div class="hero-section">

            <div class="hero-section-text">

              <h1 class="header-color">Wizarding World <br>of Media</h1>

              <h5 class="header-color-small">Find out what music <br>your House vibes with.</h5>

              <div id="three-container"></div>

              <form id="login-form">

                <div class="login-form">
                  <h4 class="text-center">Log In</h4>
                  <label for="login-form-username" class="username">Username:</label>
                  <input type="text" class="login-form-username" id="login-form-username">

                  <label for="login-form-password" class="password">Password:</label>
                  <input type="password" class="login-form-password" id="login-form-password">

                  <button type="submit" class="login-form-button">Login!</button>
                
                </div>
              </form>
            </div> <br>
          <div>
                        <h5>Dont have an account? Register below:</h5>

            <form id="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="signup-form-username"/>
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="signup-form-password" />
  </div>
  <div>
    <button type="submit">Signup!</button>
  </div>
</form>
          </div>


          </div>
          <script src="/js/login.js"></script>
          <script src='/js/register.js'></script>
