<body>
        <div class="hero-section">

            <div class="hero-section-text">

              <h1 class="header-color">Wizarding World <br>of Media</h1>

              <h5 class="header-color-small">Find out what music <br>your House vibes with.</h5>

              <div id="three-container"></div>

              <form class="form">

                <div class="sign-in-form">
                  <h4 class="text-center">Log In</h4>
                  <label for="sign-in-form-username" class="username">Username:</label>
                  <input type="text" class="sign-in-form-username" id="sign-in-form-username">

                  <label for="sign-in-form-password" class="password">Password:</label>
                  <input type="text" class="sign-in-form-password" id="sign-in-form-password">

                  <button type="submit" class="sign-in-form-button">Login!</button>
                
                </div>
              </form>
            </div>
          </div>
         </body>
