<body>
        <div class="hero-section">

            <div class="hero-section-text">

              <h1 class="header-color">Wizarding World <br>of Media</h1>

              <h5 class="header-color-small">Hate to see you go so soon.</h5>

              <div id="three-container"></div>

              <form class="form">

                <div class="log-out">
                  <h4 class="text-center">Log Out</h4>

                  <button type="submit" class="log-out-form-button">Logout</button>
                
                </div>
              </form>
            </div>
          </div>
         </body>