
    <!--Playlist for corresponding house-->
<h5>Hey {{dataValues.username}}!</h5>
<h5>Your {{house.dataValues.housename}} Playlist</h5>


<div>
    {{data}}

    
</div>


<!--${house.dataValues.playlist}-->

<script src='/js/playlist.js'></script>