
    <!--Playlist for corresponding house-->
<body>
<div class='playlistPage'>
<h5 class='playlistUsername'>Hey {{dataValues.username}}!</h5>
<h5 class='playlistHouse'>Click below to reveal your {{house.dataValues.housename}} Playlist!</h5>
<h5 style="visibility: hidden;" id='playlistHouse'> {{house.dataValues.playlist}} </h5>

<div class='playlistContainer'>

</div>

<button type="submit" class="btn btn-dark" id='playlistButton'>Find</button>

</div>
</body>
<script src='/js/playlist.js'></script>