<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playlists</title>
</head>
<body>
    <!--Playlist for corresponding house-->
    {{#if houseGryffindor}}
    <h1>Gryffindor House Playlists</h1>
    {{/if}}
    {{#if houseSlytherin}}
    <h1>Slytherin House Playlists</h1>
    {{/if}}
    {{#if houseHufflepuff}}
    <h1>Hufflepuff House Playlists</h1>
    {{/if}}
    {{#if houseRavenclaw}}
    <h1>Ravenclaw House Playlist</h1>
    {{/if}}
    
</body>

</html>