
    <!--Playlist for corresponding house-->
<h5>Your {{dataValues.username}} Playlist</h5>
<h5>Your {{house.dataValues.housename}} Playlist</h5>
<h5>Your {{house.dataValues.playlist}} Playlist</h5>
<a href=`https://open.spotify.com/playlist/${house.dataValues.playlist}`>Spotify</a>
{{link href='https://open.spotify.com/playlist/6e5TyQ5YhFpo5SsnkrR8Yt'}} Spotify{{/link}}


<div class="playlistContainer">


    
</div>
