    <!--Container for quiz-->
    <div id="quizContainer">
        <section class="quiz-section quiz-fullscreen section section-dark" id="quiz">
            <div class="section-background-image">
            </div>
            <div class="container">

                <div id="introbox1" class="quizintrobox">
                    <h3><b>What Will Your House Be?</b> </h3>
                    <p>This quiz will ask you a series of questions and your responses will determine what type of Witch/Wizard you are. <br><br>This quiz is based on the acclaimed fantasy book series by<br><i> J.K. Rowling.</i></p>
                    <button class="button_header button button-rounded-hover" id="startQuizBtn" onclick="startQuiz();document.getElementById('footer').scrollIntoView();" type="button">Let's Get You Sorted</button>
                </div>
            </div>
        </section>


        <section class="section" id="questions">
            <div class="container" id="lore_brief">

            </div>


            <div class="container" id="quiz-questions">

                <div class="question invisible" id="question-1">
                    <form>
                        <h2 class="section-heading text-center">Which class would you like the most?</h2>
                        <input data-endingsentence="Syltherin " name="rq" onclick="setAnswerButton()" type="radio">Potions
                        <input data-endingsentence="Ravenclaw " name="rq" onclick="setAnswerButton()" type="radio">Herbology
                        <input data-endingsentence="Hufflepuff " name="rq" onclick="setAnswerButton()" type="radio">Charms
                        <input data-endingsentence="Gryffindor " name="rq" onclick="setAnswerButton()" type="radio">Defense Against the Dark Arts
                    </form>
                </div>


                <div class="question invisible" id="question-2">
                    <form>
                        <h2 class="section-heading text-center">Which ability would you like to have?</h2>
                        <input data-endingsentence="Syltherin " name="rq" onclick="setAnswerButton()" type="radio">Mind Control
                        <input data-endingsentence="Hufflepuff " name="rq" onclick="setAnswerButton()" type="radio">Super Strength
                        <input data-endingsentence="Ravenclaw " name="rq" onclick="setAnswerButton()" type="radio">Extreme Intelligence
                        <input data-endingsentence="Gryffindor " name="rq" onclick="setAnswerButton()" type="radio">Fly
                    </form>
                </div>


                <div class="question invisible" id="question-3">
                    <form>
                        <h2 class="section-heading text-center">Which animal would you choose for your Hogwarts pet?</h2>
                        <input data-endingsentence="Hufflepuff " name="rq" onclick="setAnswerButton()" type="radio">Rat
                        <input data-endingsentence="Syltherin " name="rq" onclick="setAnswerButton()" type="radio">Toad
                        <input data-endingsentence="Gryffindor " name="rq" onclick="setAnswerButton()" type="radio">Owl
                        <input data-endingsentence="Ravenclaw " name="rq" onclick="setAnswerButton()" type="radio">Cat
                    </form>
                </div>


                <div class="question invisible" id="question-4">
                    <form>
                        <h2 class="section-heading text-center">Which flavor of Bertie Bott's Beans would you like the best?</h2>
                        <input data-endingsentence="Gryffindor " name="rq" onclick="setAnswerButton()" type="radio">Chocolate
                        <input data-endingsentence="Hufflepuff " name="rq" onclick="setAnswerButton()" type="radio">Peanut Butter
                        <input data-endingsentence="Ravenclaw " name="rq" onclick="setAnswerButton()" type="radio"> Licorice
                        <input data-endingsentence="Syltherin " name="rq" onclick="setAnswerButton()" type="radio"> Chili Pepper
                    </form>
                </div>


                <div class="question invisible" id="question-5">
                    <form>
                        <h2 class="section-heading text-center">What would you have done about Hagrid's dragon?</h2>
                        <input data-endingsentence="Syltherin " name="rq" onclick="setAnswerButton()" type="radio">Given it to someone in the Ministry of Magic
                        <input data-endingsentence="Hufflepuff " name="rq" onclick="setAnswerButton()" type="radio">Let it go
                        <input data-endingsentence="Ravenclaw " name="rq" onclick="setAnswerButton()" type="radio"> Told Dumbledore
                        <input data-endingsentence="Gryffindor " name="rq" onclick="setAnswerButton()" type="radio"> Adopted it and raised it yourself
                    </form>
                </div>


                <div class="question invisible" id="question-6">
                    <form>
                        <h2 class="section-heading text-center">Which position in Quidditch would you most like to play?</h2>
                        <input data-endingsentence="Syltherin " name="rq" onclick="setAnswerButton()" type="radio">Bludger
                        <input data-endingsentence="Hufflepuff " name="rq" onclick="setAnswerButton()" type="radio">Chaser
                        <input data-endingsentence="Ravenclaw " name="rq" onclick="setAnswerButton()" type="radio">Keeper
                        <input data-endingsentence="Gryffindor " name="rq" onclick="setAnswerButton()" type="radio">Seeker
                    </form>
                </div>


                <div class="question invisible" id="question-7">
                    <form>
                        <h2 class="section-heading text-center">Which position in Quidditch would you most like to play?</h2>
                        <input data-endingsentence="Syltherin " name="rq" onclick="setAnswerButton()" type="radio">Bludger
                        <input data-endingsentence="Hufflepuff " name="rq" onclick="setAnswerButton()" type="radio">Chaser
                        <input data-endingsentence="Ravenclaw " name="rq" onclick="setAnswerButton()" type="radio">Keeper
                        <input data-endingsentence="Gryffindor " name="rq" onclick="setAnswerButton()" type="radio">Seeker
                    </form>
                </div>


                <div class="question invisible" id="question-8">
                    <form>
                        <h2 class="section-heading text-center">If you had a portrait that guarded your room, what would it be?</h2>
                        <input data-endingsentence="Syltherin " name="rq" onclick="setAnswerButton()" type="radio">Snake
                        <input data-endingsentence="Hufflepuff " name="rq" onclick="setAnswerButton()" type="radio">Unicorn
                        <input data-endingsentence="Ravenclaw " name="rq" onclick="setAnswerButton()" type="radio">Knight
                        <input data-endingsentence="Gryffindor " name="rq" onclick="setAnswerButton()" type="radio">Fat Lady
                    </form>
                </div>


                <div class="question invisible" id="question-9">
                    <form>
                        <h2 class="section-heading text-center">Who would you most like to turn into a toad?</h2>
                        <input data-endingsentence="Syltherin " name="rq" onclick="setAnswerButton()" type="radio">Hagrid
                        <input data-endingsentence="Hufflepuff " name="rq" onclick="setAnswerButton()" type="radio">Professor Snape
                        <input data-endingsentence="Ravenclaw " name="rq" onclick="setAnswerButton()" type="radio">Voldemort
                        <input data-endingsentence="Gryffindor " name="rq" onclick="setAnswerButton()" type="radio">Draco Malfoy
                    </form>
                </div>


                <div class="question invisible" id="question-10">
                    <form>
                        <h2 class="section-heading text-center">What is your best quality?</h2>
                        <input data-endingsentence="Syltherin " name="rq" onclick="setAnswerButton()" type="radio">Confidence
                        <input data-endingsentence="Hufflepuff " name="rq" onclick="setAnswerButton()" type="radio">Work Ethic
                        <input data-endingsentence="Ravenclaw " name="rq" onclick="setAnswerButton()" type="radio">Intellect
                        <input data-endingsentence="Gryffindor " name="rq" onclick="setAnswerButton()" type="radio">Courage
                    </form>
                </div>

                <div class="question invisible" id="question-11">
                    <form>
                        <h2 class="section-heading text-center">What would you want to be when you grow up?</h2>
                        <input data-endingsentence="Syltherin " name="rq" onclick="setAnswerButton()" type="radio">Member of the Ministry of Magic
                        <input data-endingsentence="Hufflepuff " name="rq" onclick="setAnswerButton()" type="radio">Profesional Quidditch Player
                        <input data-endingsentence="Ravenclaw " name="rq" onclick="setAnswerButton()" type="radio">Hogwarts Professor
                        <input data-endingsentence="Gryffindor " name="rq" onclick="setAnswerButton()" type="radio">An Auror
                    </form>
                </div>


                <div class="invisible" id="confirm_answer">
                    <br>
                    <br>
                    <button class="button" onclick="nextQuestion()" type="button">Next Question</button>
                </div>


                <div class="invisible" id="results_screen">
                    <h2 class="section-heading text-center">What Is Your House?</h2>
                    <div id="generated_text">
                    </div>
                </div>
            </div>
        </section>


        <section class="footer-section section" id="footer">
            <div class="container">
                <div class="footer-copyright">
                    <ul class="list-inline right">
                        <li>
                            <p></p>
                        </li>
                    </ul>
                </div>
            </div>

    </div>

    <script src="assets/js/mediaClient.js"></script>
    <script src="js/vendor/jquery.js"></script>

