
    <h1>Let the Sorting Hat determine your Hogwarts fate:</h1>


<form>
    <div>
<a id= "question1">Which class would you like the most?</a>
<input type= "radio" > Potions
<input type= "radio"> Herbology
<input type= "radio"> Charms
<input type= "radio"> Defense Against the Dark Arts
</div>

<div>
<a id="question2"> Which ability would you like to have?</a>
<input type= "radio"> Mind Control
<input type= "radio"> Super Strength
<input type= "radio"> Extreme Intelligence
<input type= "radio"> Fly
</div>

<div>
<a id="question3">Which animal would you choose for your Hogwarts pet?</a>
<input type= "radio"> Rat
<input type= "radio"> Toad
<input type= "radio"> Owl
<input type= "radio"> Cat
</div>


<div>
<a id="question4">Which flavor of Bertie Bott's Beans would you like the best?</a>
<input type= "radio"> Chocolate
<input type= "radio"> Peanut Butter
<input type= "radio"> Licorice
<input type= "radio"> Chili Pepper
</div>



<div>
<a id="question5">What would you have done about Hagrid's dragon?</a>
<input type= "radio"> Given it to someone in the Ministry of Magic
<input type= "radio"> Let it go
<input type= "radio"> Told Dumbledore
<input type= "radio"> Adopted it and raised it yourself
</div>


<div>
<a id="question6">Which position in Quidditch would you most like to play?</a>
<input type= "radio"> Bludger
<input type= "radio"> Keeper
<input type= "radio"> Chaser
<input type= "radio"> Seeker
</div>



<div>
<a id="question7">If you had a portrait that guarded your room, what would it be?</a>
<input type= "radio"> Snake
<input type= "radio"> Knight
<input type= "radio"> Unicorn
<input type= "radio"> Fat Lady
</div>


<div>
<a id="question8">Who would you most like to turn into a toad?</a>
<input type= "radio"> Hagrid
<input type= "radio"> Professor Snape
<input type= "radio"> Voldemort
<input type= "radio"> Draco Malfoy
</div>



<div>
<a id="question9">What is your best quality?</a>
<input type= "radio"> Confidence
<input type= "radio"> Work Ethic
<input type= "radio"> Intellect
<input type= "radio"> Courage
</div>


<div>
<a id="question10">What would you want to be when you grow up?</a>
<input type= "radio"> Member of the Ministry of Magic
<input type= "radio"> Profesional Quidditch Player
<input type= "radio"> Hogwarts Professor
<input type= "radio"> An Auror 
</div>

<div>
</form>
<button type="submit">Sort!</button>
</div>






<script>

</script>
