<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/quiz.css">

</head>

<h1>Let the Sorting Hat determine your Hogwarts fate:</h1>
<form>
    <div>
        <a id="question1">Which class would you like the most?</a>
        <ul>
            <li><input type="radio" id="a"> Potions</li>
            <li><input type="radio" id="b"> Herbology</li>
            <li><input type="radio" id="c"> Charms</li>
            <li><input type="radio" id="d"> Defense Against the Dark Arts</li>
        </ul>
    </div>
    <div>
        <a id="question2"> Which ability would you like to have?</a>
        <ul>
            <li><input type="radio" id="a"> Mind Control</li>
            <li><input type="radio" id="b"> Super Strength</li>
            <li><input type="radio" id="c"> Extreme Intelligence</li>
            <li><input type="radio" id="d"> Fly</li>
        </ul>
    </div>
    <div>
        <a id="question3">Which animal would you choose for your Hogwarts pet?</a>
        <ul>
        <li><input type="radio" id="a"> Rat</li>
        <li><input type="radio" id="b"> Toad</li>
        <li><input type="radio" id="c"> Owl</li>
        <li><input type="radio" id="d"> Cat</li>
        </ul>
    </div>
    <div>
        <ul>
        <a id="question4">Which flavor of Bertie Bott's Beans would you like the best?</a>
        <li><input type="radio" id="a"> Chocolate</li>
        <li><input type="radio" id="b"> Peanut Butter</li>
        <li><input type="radio" id="c"> Licorice</li>
        <li><input type="radio" id="d"> Chili Pepper</li>
        </ul>
    </div>
    <div>
        <ul>
        <a id="question5">What would you have done about Hagrid's dragon?</a>
        <li><input type="radio" id="a"> Given it to someone in the Ministry of Magic</li>
        <li><input type="radio" id="b"> Let it go</li>
        <li><input type="radio" id="c"> Told Dumbledore</li>
        <li><input type="radio" id="d"> Adopted it and raised it yourself</li>
        </ul>
    </div>
    <div>
        <ul>
            
        <a id="question6">Which position in Quidditch would you most like to play?</a>
        <li><input type="radio" id="a"> Bludger</li>
        <li><input type="radio" id="b"> Keeper</li>
        <li><input type="radio" id="c"> Chaser</li>
        <li><input type="radio" id="d"> Seeker</li>
    </ul>
    </div>
    <div>
        <ul>
        <a id="question7">If you had a portrait that guarded your room, what would it be?</a>
        <li><input type="radio" id="a"> Snake</li>
        <li><input type="radio" id="b"> Knight</li>
        <li><input type="radio" id="c"> Unicorn</li>
        <li><input type="radio" id="d"> Fat Lady</li>
        </ul>
    </div>
    <div>
        <ul>
        <a id="question8">Who would you most like to turn into a toad?</a>
        <li><input type="radio" id="a"> Hagrid</li>
        <li><input type="radio" id="b"> Professor Snape</li>
        <li><input type="radio" id="c"> Voldemort</li>
        <li><input type="radio" id="d"> Draco Malfoy</li>
        </ul>
    </div>
    <div>
        <ul>
        <a id="question9">What is your best quality?</a>
        <li><input type="radio" id="a"> Confidence</li>
        <li><input type="radio" id="b"> Work Ethic</li>
        <li><input type="radio" id="c"> Intellect</li>
        <li><input type="radio" id="d"> Courage</li>
        </ul>
    </div>
    <div>
        <ul>
        <a id="question10">What would you want to be when you grow up?</a>
        <li><input type="radio" id="a"> Member of the Ministry of Magic</li>
        <li><input type="radio" id="b"> Profesional Quidditch Player</li>
        <li><input type="radio" id="c"> Hogwarts Professor</li>
        <li><input type="radio" id="d"> An Auror</li>
        </ul>
    </div>
    <div>
</form>
<button type="houseSubmit">Sort!</button>
</div>

<script src='../public/assets/js/quiz.js'