    <!--Container for quiz-->
    <div class= 'quizContainer'>
      <h4 class='sortingHat'>Let the Sorting Hat determine your Hogwarts fate:</h4>


<form class='quizQuestions'>
    <div  id="question1">
        <a id= "question1">1. Which class would you like the most?</a>
        <ul>
            <input name='q1' value='slytherin' type= "radio"> Potions 
            <input name='q1' value='hufflepuff'type= "radio"> Herbology
            <input name='q1' value='ravenclaw'type= "radio"> Charms
            <input name='q1' value='gyriffindor'type= "radio"> Defense Against the Dark Arts
        </ul>
    </div>

<div  id="question2">
<a id="question2">2. Which ability would you like to have?</a>
<ul>
<input name='q2'value='slytherin'type= "radio"> Mind Control
<input name='q2'value='hufflepuff'type= "radio"> Super Strength
<input name='q2'value='ravenclaw'type= "radio"> Extreme Intelligence
<input name='q2'value='gyriffindor'type= "radio"> Fly
</ul>
</div>

<div id="question3">
<a id="question3">3. Which animal would you choose for your Hogwarts pet?</a>
<ul>
<input name='q3'value='slytherin'type= "radio"> Rat
<input name='q3'value='hufflepuff'type= "radio"> Toad
<input name='q3'value='ravenclaw'type= "radio"> Owl
<input name='q3'value='gyriffindor'type= "radio"> Cat
</ul>
</div>


<div id="question4">
<a id="question4">4. Which flavor of Bertie Bott's Beans would you like the best?</a>
<ul>
<input name='q4'value='slytherin'type= "radio"> Chocolate
<input name='q4'value='hufflepuff'type= "radio"> Peanut Butter
<input name='q4'value='ravenclaw'type= "radio"> Licorice
<input name='q4'value='gyriffindor'type= "radio"> Chili Pepper
</ul>
</div>



<div id="question5">
<a id="question5">5. What would you have done about Hagrid's dragon?</a>
<ul>

<input name='q5'value='slytherin'type= "radio"> Given it to someone in the Ministry of Magic
<input name='q5'value='hufflepuff'type= "radio"> Let it go
<input name='q5'value='ravenclaw'type= "radio"> Told Dumbledore
<input name='q5'value='gyriffindor'type= "radio"> Adopted it and raised it yourself
</ul>
</div>


<div id="question6">
<a id="question6">6. Which position in Quidditch would you most like to play?</a>
<ul>

<input name='q6'value='slytherin'type= "radio"> Bludger
<input name='q6'value='hufflepuff'type= "radio"> Keeper
<input name='q6'value='ravenclaw'type= "radio"> Chaser
<input name='q6'value='gyriffindor'type= "radio"> Seeker
</ul>
</div>



<div id="question7">
<a id="question7">7. If you had a portrait that guarded your room, what would it be?</a>
<ul>

<input name='q7'value='slytherin'type= "radio"> Snake
<input name='q7'value='hufflepuff'type= "radio"> Knight
<input name='q7'value='ravenclaw'type= "radio"> Unicorn
<input name='q7'value='gyriffindor'type= "radio"> Fat Lady
</ul>
</div>


<div id="question8">
<a id="question8">8. Who would you most like to turn into a toad?</a>
<ul>

<input name='q8'value='slytherin'type= "radio"> Hagrid
<input name='q8'value='hufflepuff'type= "radio"> Professor Snape
<input name='q8'value='ravenclaw'type= "radio"> Voldemort
<input name='q8'value='gyriffindor'type= "radio"> Draco Malfoy
</ul>
</div>



<div id="question9">
<a id="question9">9. What is your best quality?</a>
<ul>

<input name='q9'value='slytherin' type= "radio"> Confidence
<input name='q9'value='hufflepuff' type= "radio"> Work Ethic
<input name='q9'value='ravenclaw' type= "radio"> Intellect
<input name='q9'value='gyriffindor' type= "radio"> Courage
</ul>
</div>


<div id="question10">
<a id="question10">10. What would you want to be when you grow up?</a>
<ul>

<input name='q10'value='slytherin' type= "radio"> Member of the Ministry of Magic
<input name='q10'value='hufflepuff' type= "radio"> Profesional Quidditch Player
<input name='q10'value='ravenclaw' type= "radio"> Hogwarts Professor
<input name='q10'value='gyriffindor' type= "radio"> An Auror 
</ul>
</div>

<div>
    <button type="submit" class="btn btn-dark">Sort!</button>
</form>
</div>






<script src='/js/quiz.js'></script>
