* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
    --primary-color-transparent: rgba(252,225,56, 0.8);
    --secondary-color-transparent: rgba(2, 78, 118, 0.8);
  }




#housesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

#navbar {
    position: relative;
    overflow: hidden;
    display: block;
    text-decoration: none;
    
}

nav {
    height: 2vh;
    text-decoration: none;

}

#nav-links {
    float: right;
    color: black;
    margin-top: 1px;
    text-decoration: none;
}

/* landing page */
.hero-section {
    background: url("https://static.pexels.com/photos/5402716/pexels-photo-5402716.jpeg?cs=srgb&dl=pexels-designdrunkard-5402716.jpg") 3% no-repeat;
    background-size: 100%;
    height: 80vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
    font-family: 'Libre Baskerville', serif;
    font-style: bold;

}


/* nav bar from Foundation */
.menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
  }
  
  .menu-hover-lines li a {
    padding: 0.75rem 0;
    color: rgba(10, 10, 10, 0.5);
    position: relative;
    margin-left: 1rem;
  }
  
  .menu-hover-lines li:first-child a {
    margin-left: 0;
  }
  
  .menu-hover-lines li.active > a {
    background-color: transparent;
  }
  
  .menu-hover-lines a:before,
  .menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: goldenrod;
    width: 0;
  }
  
  .menu-hover-lines a::before {
    top: 0;
    left: 0;
  }
  
  .menu-hover-lines a::after {
    bottom: 0;
    right: 0;
  }
  
  .menu-hover-lines a:hover,
  .menu-hover-lines li.active > a {
    color: #0a0a0a;
    transition: all 0.35s ease;
  }
  
  .menu-hover-lines a:hover::before,
  .menu-hover-lines .active a::before,
  .menu-hover-lines a:hover::after,
  .menu-hover-lines .active a::after {
    width: 100%;
  }
  
 
/* end of nav bar from Foundation */ 
  
  

.header-nav {
    font-family: 'Libre Baskerville', serif;
    position: relative;
    overflow: hidden;
    padding: 15px;
    color: black;
}

.header-color {
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
}

.header-color-small {
    color: white;
    font-family: arial;
}


body {
    color: black;
    margin: 0;
	overflow: hidden;
}


.sign-in-form {
    padding: 1rem 1.5em;
    border-radius: .5rem;
    background-color: #3d454f;
  }
  
  .sign-in-form h4 {
    color: white;
    margin-bottom: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    
  }

  .username {
      color: white;
  }

  .password {
      color: white;
  }

  .sign-in-form-button {
      color: white;
  }

  .signup {
      text-decoration: none;
      color: goldenrod;
  }


  
  .signup a:hover {
    text-decoration: none;
    color: white;
}

  footer {
      text-align: center;
  }