* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #fce138;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
    --primary-color-transparent: rgba(252, 225, 56, 0.8);
    --secondary-color-transparent: whitesmoke;
}

#housesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#navbar {
    position: relative;
    overflow: hidden;
    display: block;
    text-decoration: none;
}

nav {
    height: 2vh;
    text-decoration: none;
}

#nav-links {
    float: right;
    color: whitesmoke;
    margin-top: 1px;
    text-decoration: none;
}


/* landing page */

.hero-section {
    background: url("https://static.pexels.com/photos/507410/pexels-photo-507410.jpeg?cs=srgb&dl=pexels-designdrunkard-507410.jpg") 3% no-repeat;
    background-size: 130%;
    height: 90vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    font-family: 'Libre Baskerville', serif;
    font-style: bold;
}




.header-nav {
    font-family: 'Libre Baskerville', serif;
    position: relative;
    overflow: hidden;
    padding: 15px;
    color: whitesmoke;
}

.header-color {
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-weight: 900;
}

.header-color-small {
    color: white;
    font-family: arial;
}

body {
    color: black;
    margin: 0;
    overflow: hidden;
}

.form-registration {
    background: #fefefe;
}

.form-registration .form-registration-img {
    position: relative;
}

.form-registration .form-registration-img .form-registration-img-caption {
    position: absolute;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
    bottom: 0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgba(254, 254, 254, 0.3)), color-stop(0, #fefefe));
}

.form-registration-group {
    padding: 1rem;
}

.form-registration-group .form-registration-input {
    border-radius: 0;
}

.form-registration-group .form-registration-input:focus {
    border: 2px solid #1779ba;
    box-shadow: 0 0 5px #1779ba;
}

.form-registration-group .form-registration-submit-button {
    text-transform: uppercase;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    background-color: #1779ba;
    color: #fefefe;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    border-radius: 5000px;
}

[data-whatinput='mouse'] .form-registration-group .form-registration-submit-button {
    outline: 0;
}

.form-registration-group .form-registration-submit-button:hover,
.form-registration-group .form-registration-submit-button:focus {
    background-color: #126195;
    color: #fefefe;
}

.form-registration-group .form-registration-social-button {
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 1rem 0;
    padding: 0.85em 1em;
    -webkit-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    font-size: 0.9rem;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    border: 1px solid #3b5998;
    color: #3b5998;
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    border-radius: 5000px;
}

[data-whatinput='mouse'] .form-registration-group .form-registration-social-button {
    outline: 0;
}

.form-registration-group .form-registration-social-button,
.form-registration-group .form-registration-social-button:hover,
.form-registration-group .form-registration-social-button:focus {
    background-color: transparent;
}

.form-registration-group .form-registration-social-button:hover,
.form-registration-group .form-registration-social-button:focus {
    border-color: #1e2d4c;
    color: #1e2d4c;
}

.form-registration-group .form-registration-social-button .fa {
    vertical-align: text-top;
    margin-right: 0.5rem;
}

.form-registration-group .form-registration-member-signin {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.form-registration-group .form-registration-member-signin a {
    margin-left: 0.25rem;
}

.form-registration-group .form-registration-terms {
    text-align: center;
    font-size: 12px;
}

.form-registration-group .form-registration-terms a:first-child {
    margin-right: 0.25rem;
}

.form-registration-group .form-registration-terms a:last-child {
    margin-left: 0.25rem;
}

.form-registration-group .or-divider {
    position: relative;
    margin: 1.5rem 0px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    height: 0px;
    border: 1px solid #e6e6e6;
}

.form-registration-group .or-divider span {
    color: #8a8a8a;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -12px;
    background-color: #fefefe;
    padding: 0 8px;
}

/* nav bar from Foundation */

.menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
}

.menu-hover-lines li a {
    padding: 0.75rem 0;
    color: whitesmoke;
    position: relative;
    margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
    margin-left: 0;
}

.menu-hover-lines li.active>a {
    background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: goldenrod;
    width: 0;
}

.menu-hover-lines a::before {
    top: 0;
    left: 0;
}

.menu-hover-lines a::after {
    bottom: 0;
    right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active>a {
    color: whitesmoke;
    transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
    width: 100%;
}


/* end of nav bar from Foundation */

footer {
    text-align: center;
}

