:root {
--lightYellow:#FFF4B1;
--middleYellow:#FFED86;
--darkYallow:#FFDB00;
--darkGray: #60605C;
--black: #000000;
}


.work-feature-block {
    padding: 10px 0;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
  }
  
  .work-feature-block-image {
    display: block;
    margin: auto;
    padding: 10px 0;
  }
  
  