:root{
--darkblue: #0E1A40;
--navyblue: #222f5b;
--sliver:   #5d5d5d;
--gold: #946b2d;
--black: #000000;
}


.work-feature-block {
    padding: 10px 0;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
  }
  
  .work-feature-block-image {
    display: block;
    margin: auto;
    padding: 10px 0;
  }
  
  